.btn {
  font-weight: bold;
  letter-spacing: 0.2px;
  
  &:active {
    transform: translateY(1px);
  }

  &.btn-orange {
    background: $orange;
    color: #fff;

    &:hover, 
    &:focus {
      background: #FF7E61;
    }

    &:active {
      background: #FF5A36;
    }
  }

  &.btn-outline {
    color: #fff;
    border: 2px solid #fff;

    &:hover, 
    &:focus {
      background: #fff;
      color: $light-blue;
    }
  }
}
