footer#contact-footer {
  padding: 5rem 0 3.125rem; 
  background-image: $gradient, url('../../static/img/mobile/footer-bg.jpg');
  background-position: center, center;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: $gradient, url('../../static/img/mobile/footer-bg@2x.jpg');
  }

  @include media-breakpoint-up(md) {
    background-image: $gradient, url('../../static/img/desktop/footer-bg.jpg');
    padding: 5rem 0 8.5rem; 

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: $gradient, url('../../static/img/desktop/footer-bg@2x.jpg');
    }
  }

  h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      margin: 0;
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3.25rem;
    }
  }

  form {
    background: rgba(black, 0.2);
    padding: 3rem 1.75rem;

    @include media-breakpoint-up(lg) {
      padding: 3rem 2.625rem;
    }

    label {
      color: #fff;
      font-size: 15px;
      margin: 0;
    }

    .form-control {
      padding: .5rem .75rem;

      &.parsley-error {
        box-shadow: 0 0 15px $danger;
        @extend .is-invalid;
      }
    }

    .parsley-errors-list.filled {
      margin: 0;
      padding: .25rem;
      background: $danger;
      color: #fff;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      @extend .invalid-feedback;
      

      li {
        list-style: none;
        margin: 0;
      }
    }

    .btn {
      margin-top: 2.25rem;
      padding: 1rem .75rem;
      text-transform: uppercase;
    }
  }
}
