header#site-header {
  background: rgba(black, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1.125rem 0;
  z-index: 205;

  @include media-breakpoint-up(md) {
    padding: 1.5rem 0;
  }
}
