#hero {
  background-image: $gradient, url('../../static/img/mobile/hero-bg.jpg');
  background-position: center, center;
  background-size: cover;
  position: relative;
  padding: 9rem 0 5rem 0;
  text-align: center;
  color: #fff;
  z-index: 200;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: $gradient, url('../../static/img/mobile/hero-bg@2x.jpg');
  }

  @include media-breakpoint-up(md) {
    padding: 12rem 0 14.5rem;
    background-image: $gradient, url('../../static/img/desktop/hero-bg.jpg');

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: $gradient, url('../../static/img/desktop/hero-bg@2x.jpg');
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    
    @include media-breakpoint-up(lg) {
      font-size: 3.25rem;
    }
  }

  .content-mobile {
    h4 {
      font-weight: 600;
      font-size: 1rem;
      margin: 0 0 1.5rem;
    }
  }
  
  .content-desktop {
    h4 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.75;
      margin-bottom: 3rem;
    }
  }

  .btn {
    font-size: 1.125rem;
    padding: 1rem 1.75rem;

    &.btn-orange {
      margin-right: 1.25rem;
    }
  }

  .btn-orange {
    width: 180px;
  }
}
