#logo-bar {
  background: #fff;
  padding: 1rem 0;

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      display: block;
      flex-grow: 0;
      width: 26%;
      flex-shrink: 0;
      padding: 0.5rem;

      @include media-breakpoint-up(md) {
        width: 12.5%;
        padding: 1.25rem 1rem;
      }

      img {
        width: 100%;
      }
    }
  }
}
