#main {
  padding: 5rem 0;

  h2 {
    margin-bottom: 3rem;
  }

  .card {
    border: none;
    padding: 1rem 0;
    text-align: center;
    background: none;

    @include media-breakpoint-up(mxld) {
      padding: 1rem 2.5rem;
    }

    header {
      height: 100px;
      margin: 0 auto 1.75rem;
      display: flex;
      align-items: flex-end;
    }
    
    h4 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.875rem;
    }
  }
}
