#scroll-nav {
  background: #fff;
  overflow: hidden;
  position: absolute;
  width: 100%;
  opacity: 0;
  box-shadow: 0 2px 2px 0 rgba(129,129,129,0.5);
  padding: 0;
  animation-name: hideNav;
  animation-duration: 0.15s;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: auto;
    animation-name: nav;
    animation-duration: 0.25s;
    opacity: 1;
    padding: 0.5rem 0;
  }

  &.init {
    visibility: hidden;
  }

  .scroll-right {
    text-align: right;

    .btn {
      padding: 0.75rem 3rem;
    }

    span {
      display: inline-block;
      @extend .text-small;
      margin-right: 2rem;
    }
  }
}

@keyframes nav {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      
    }
}

@keyframes hideNav {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
