h1 {
  font-size:  4.5rem; // 72px

  @include media-breakpoint-down(md) {
    font-size: 2.25rem; // 36px
  }
}

h2 {
  font-size: 3.25rem; // 52px

  @include media-breakpoint-down(md) {
    font-size: 1.75rem; // 28px
  }
}

h3 {
  font-size: 2rem; // 32px
  
  @include media-breakpoint-down(md) {
    font-size: 1.5rem; // 24px
  }
}

h4 {
  font-size: 1.5rem; // 24px
  
  @include media-breakpoint-down(md) {
    font-size: 1.125rem; // 18px
  }
}

h5 {
  font-size: 1.25rem; // 20px
}

h6 {
  font-size: 1.125rem; // 18px
}

.text-negative {
  color: #fff;
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    color: #fff;
  }
}

.text-large,
.text-large p {
  font-size: 1.25rem;
}

.text-small,
.text-small p {
  font-size: 0.875rem;
}

.text-xsmall,
.text-xsmall p {
  font-size: 0.75rem;
}


