@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i');

// COLORS
$dark-blue: #022F40;
$blue: #00798C;
$light-blue: #2AB7CA;
$orange: #FF6542;
$offwhite: #FAFAFA;
$warning: $orange;
$gradient: linear-gradient(236.65deg, rgba(5,92,116,0.31) 0%, #022F40 100%);
$body-bg: $offwhite;
$body-color: #022f40;

// BORDERS
$border-radius: 0.125rem;

// TYPOGRAPHY
$font-size-base: 1rem;
$line-height-lg: 1.875;
$line-height-sm: 1.5;
$h1-font-size: $font-size-base * 3.25;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
