@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "./components/buttons";
@import "./components/typography";
@import "./components/header";
@import "./components/hero";
@import "./components/logo-bar";
@import "./components/hero";
@import "./components/main";
@import "./components/contact";
@import "./components/scroll-nav";

html, body {
  -webkit-font-smoothing: antialiased;
}
@include media-breakpoint-down(sm) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}


